:root {
  --hkublauw: #005ce6;
  --hkurood: #FF6400;
  --hkuyellow: #C79F00;
  --hkugeel: #ffffed;
  --f_main: font_maintext;
  --f_title: font_title;
}

body {
margin: 0;
background: var(--hkugeel);
font-family: var(--f_main);
font-size: 1.1rem;
}

.c {
margin: 2rem 0.5rem;

}

html {
scroll-padding-top: 15vh;
}

a{
color: var(--hkurood);
text-decoration:none;

}

li {
  list-style-type: lower-roman;
}

img{
object-fit:contain;
}



.header {
background: var(--hkublauw);
width:100vw;
height: min(15vh,200px);
margin: 0, 0, 0, 1rem;
display:flex;
justify-content: space-around;
position:fixed;
}

.header a{
flex:1 ;
align-content:center;
font-family: var(--f_title);
font-size:min(1.5rem, 3vw);
text-align:center;
}

.fullpage {
margin: 15vh max(3vw, 20px) 100px;
}

.page {
background: var(--hkugeel);
display: flex;
flex-flow: row wrap-reverse;
padding: 0 min(5vw, 30px) 0 min(5vw,30px);
margin: 0 auto;
}

.main{
flex:2;
min-width: min(500px, 70vw);
padding-right: 3rem;
}

.sidevast{
flex:1;
padding: 0 0 0 1rem;
min-width: min(200px, 30vw);

}

.side {
flex:1;
padding: 0 0 0 1rem;
min-width: min(200px, 30vw);
position:sticky;
align-self: flex-end;
top: 20vh;
}

@media only screen and (width <= 892px) {
.side{
    position:static;
    top: 0;
    align-self: normal;

  } 
}

section {
padding: 1rem 0;
}

hr {
border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;

  &.s  {
    border: 1px solid black;
  }

  }


/* Gallery Section\cu */

.GallerySection, .BoardSection , .CalendarSection{
  Display:flex; 
  flex-flow:row nowrap;
  Align-items: center;
  justify-content: space-around;
  padding: 1rem 0.5rem;
  }

  .GalleryPicture, .BoardPicture, .CalendarPicture {
  Flex:3; 
   object-fit:cover;
  margin-right: 2rem;
  }
 
  .GalleryPicture, .BoardPicture ,.CalendarPicture  img {
     height: 100%;
  width: 100%;
  object-fit: cover;

  }

  .GalleryText, .BoardText, .CalendarText {
  Flex-direction: collumn;
  align-self:flex-start;
  Flex:2;

  }

.CalendarText p  {
font-size: 1rem;
}

summary{
  font-family: var(--f_title);
  font-size: 1.1rem;
    text-align: center;
    padding: 0 0 0 0.5rem;
    font-weight:600;
    font-style: italic;
cursor: pointer;
}

details:first-of-type summary::marker,
:is(::-webkit-details-marker) {
  content: "+ ";
  font-size: smaller;
  font-family: monospace;
  color: var(--hkurood);
  font-weight: bold;
}

details[open]:first-of-type summary::marker {
  content: "− ";
  color:black;
}

details:open > summary {
  color:var(--hkurood);
}

/* Fonts!! */
p {
padding:0.3rem 0 0.3em;
}

.t {
text-align:center;
font-family:var(--f_title);

&.title{
font-size: 4rem;
  text-transform: capitalize;
}

&.subtitle{
font-size: 2rem;
padding: 0 0 0.5rem 
}

&.subsubtitle{
font-size:1.3rem;
text-align:center;
padding: 0 0 0.5rem;
font-weight:600;
}
 
 &.sub3title{
    font-size: 1.1rem;
    text-align: center;
    padding: 0 0 0 0.5rem;
    font-weight:600;
    font-style: italic;
  } 


}

.footnote {
font-size: smaller;
  font-style: italic;
}

/* Custom fonts!!! */
@font-face {
font-family: "Font_MainText";
src: url("Fonts/GaramondPremrPro-SmbdSubh.otf");
}

@font-face { 
src: url("Fonts/GaramondPremrPro-BdCapt.otf");
font-family: "Font_MainText";
font-weight: bold;
}

@font-face {
font-family: "Font_Title";
src: url("Fonts/NewKansasMedium.otf");

}

@font-face {
font-family: "Font_Title";
src: url("Fonts/NewKansasSemiBold.otf");
font-weight:bold;
}
